# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
/node_modules
package-lock.json

# Testing
/coverage

# Production
/build

# MDB
mdb*

# Firebase configuration
src/config/fbConfig.js

# Environment variables
.env

# All editor configs but vscode
.editorconfig
.idea

# Logs
*.log*

# SPDX-License-Identifier: (EUPL-1.2)
# Copyright © 2020 Werbeagentur Christian Aichner
