.flyout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

// Custom colors
.bg-dark {
  background-color: $dark !important;
  &.darken-1 {
    background-color: darken($dark, 5%) !important;
  }
  &.darken-2 {
    background-color: darken($dark, 10%) !important;
  }
  &.darken-3 {
    background-color: darken($dark, 15%) !important;
  }
  &.lighten-1 {
    background-color: lighten($dark, 10%) !important;
  }
  &.lighten-2 {
    background-color: lighten($dark, 20%) !important;
  }
  &.lighten-3 {
    background-color: lighten($dark, 30%) !important;
  }
}
.bg-red {
  background-color: $red !important;
  &.darken-1 {
    background-color: darken($red, 10%) !important;
  }
  &.darken-2 {
    background-color: darken($red, 20%) !important;
  }
  &.darken-3 {
    background-color: darken($red, 30%) !important;
  }
  &.lighten-1 {
    background-color: lighten($red, 10%) !important;
  }
  &.lighten-2 {
    background-color: lighten($red, 20%) !important;
  }
  &.lighten-3 {
    background-color: lighten($red, 30%) !important;
  }
}
.bg-green {
  background-color: $green !important;
  &.darken-1 {
    background-color: darken($green, 10%) !important;
  }
  &.darken-2 {
    background-color: darken($green, 20%) !important;
  }
  &.darken-3 {
    background-color: darken($green, 30%) !important;
  }
  &.lighten-1 {
    background-color: lighten($green, 10%) !important;
  }
  &.lighten-2 {
    background-color: lighten($green, 20%) !important;
  }
  &.lighten-3 {
    background-color: lighten($green, 30%) !important;
  }
}

// Custom text
.red-text {
  color: $red !important;
}
.pink-text {
  color: $pink !important;
}

// Buttons
.btn {
  box-shadow: none !important;
  border-radius: 0.4rem;
  &:hover {
    box-shadow: none;
  }
  &:active {
    box-shadow: none;
  }
  &:focus {
    box-shadow: none;
  }

  // Custom buttons
  $primary: #4285f4;
  $success: #5cb85c;
  $info: #5bc0de;
  $warning: #f0ad4e;
  $danger: #d9534f;
  $elegant: #292b2c;

  &.btn-primary {
    background: transparentize($color: $primary, $amount: 0.95) !important;
    color: darken($primary, 5%);
    border: 2px $primary solid;
    &:hover {
      background: transparentize($color: $primary, $amount: 0.8) !important;
      color: darken($primary, 10%);
    }
  }
  &.btn-elegant {
    background: transparentize($color: $elegant, $amount: 0.95) !important;
    color: darken($elegant, 5%);
    border: 2px $elegant solid;
    &:hover {
      background: transparentize($color: $elegant, $amount: 0.8) !important;
      color: darken($elegant, 10%);
    }
  }
  &.btn-success {
    background: transparentize($color: $success, $amount: 0.95) !important;
    color: darken($success, 5%);
    border: 2px $success solid;
    &:hover {
      background: transparentize($color: $success, $amount: 0.8) !important;
      color: darken($success, 10%);
    }
  }
}

// Cards
.card {
  box-shadow: none;
}

// Generic
.clickable {
  cursor: pointer !important;
}

// Fix icon spacing in buttons
.btn {
  i {
    padding-right: 0.2rem;
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2020 Werbeagentur Christian Aichner
 */
